/* add your CSS here */
.cardfloor {
    width: 370px;
    height: 675px;
    border: 1px solid black;
    padding: 15px;
}

.card__floating {
    width: 330px;
    height: 640px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px lightgray;
    padding: 15px;
}

.card__information {
    width: 298px;
    height: 345px;
    border: 1px solid black;
    padding: 15px;
}

.card__fact {
    font-style: italic;
}

span {
    font-weight: bold;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
    align-items: start;
}

h3:hover,
p:hover,
li:hover {
    background-color: yellow;
    font: small-caps bold 15px Georgia, serif;
}